/** --------------------------------------------------
** for desktop version -------------------------------
** ---------------------------------------------------
**/

@media screen and (min-device-width : 1024px ) {


  
  /*
**
** header desktop version
**
*/

.linav>a:hover{
  border-top: 2px solid #0065FC;
  padding: 2vw 0 0 0;

}


/*
** research desktop version
*/


form {
  max-height: 10em;
  
}

  .searchbar{
    border: 2px solid #f2f2f2;
    border-radius: 12px;
  }
  
  .fa-map-marker-alt{
    padding: 6% 5% 5% 5%;

  }

  .swipe{
    background-color:  #0065FC;
    border-radius:  10px;
  }
  
  .isearch{
    position: absolute;
    clip-path: circle(0%);
  }

  .pswipe{
    padding: 1vw 2vw;
    color: white;
  }

  
/*
** pop - aside desktop version
*/
#lodging{
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 2% 4%;
}

aside{
  width: 50%;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.popular{
  height: 100%;
  padding: 0vw 0 2vw 0;
  flex-direction: column;

}

.h2pop{
  flex-basis: unset;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 0 4%;

}

.boxpop{
  width: 80%;
  height: 10vw;
  min-height: 100px;
  border-radius: 15px;
  border: 5px solid white;
  margin: 0 auto;
}

.about{
   margin: 0;
}

/**
** lodging main desktop version
**/

.main{
  width: 100vw;
  height: 49vw;
  max-height: 50%;
  margin: 0% 3% 0% 0%;
  border-radius: 15px;
}

.h2lodging{
  flex-basis: unset;
  width: 100%;
  padding: 0 0 0 3%;
  margin: 3% auto 2%;
}

.boxlodging{
  width: 27%;
  margin: 0 auto auto;
  border-radius: 15px;
  border: 5px solid white;
  box-shadow: 1em 1em 2em #F2F2F2;
}


.cadrelodging{
  overflow: hidden;
  border-radius: 10px;
  width: -moz-available;
}

.cadrelodging>.description{
  margin: 0.5em;
}


.imglodging{
  max-height: 8vw;
}

/**
** Activity desktop version
**/


.containactivity{
  margin-top: 2%;
  }


.actimg6{
  height: 83%;

}


/*
** footer desktop version
*/

footer{
  flex-direction: row;
  
}

.footdiv{
  flex-direction: column;
  margin: auto;
}

}