@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');

/* 
** Remove decoration & other
*/

*{
  font-family: "Raleway", sans-serif;
  font-size: 1em;
}

ul {
  list-style:none;
  margin-left:0;
  padding-left:0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

.pdescrib{
  font-size: smaller;
  margin: 1em 0 0.5em 0;
}


/*
** général
*/

.flex{
  display: flex;
}

.fw{
  display: flex;
  flex-wrap: wrap;
}

.fnow{
  display: flex;
  flex-wrap: nowrap;
}

.fa-chart-li{
  float: right;
}

.colorblue1{
  color: #0065FC;
}

.scale:hover {
  transform: scale(1.1);
}

.colorgrey{
  color: #f2f2f2;
}

.basis100{
  flex-basis: 100%;
}


h1{
  font-size: 1.5em;
  margin-right: 10vw;

}

h2{
  font-size: 1.3em;
}

h3{
  font-size: 0.8em;
  margin: 0 0 -0.5em 0;
}
 

form{
width: 100%;  
}
  
  header, #research, #activity{
    margin: 0 4% 0 4%;

  }
  
  /*
**
** header
**
*/


header{
  margin-top: 2%;
  font-weight: 500;

}
header>img{
  margin: auto auto auto 0;

}

.signup{
  order: 1;
  align-self: center;
  font-weight: bold;

}

nav>ul{
  display: flex;
  flex-direction: row;
  
}

nav>ul>li{
  margin-right: 2vw;
}

li>a:hover{
  color: #0065FC;
}

/**
** Research général css
**/
  
  .searchbar>input{
    padding: 5%;
    border: none;
  }
  
  ::placeholder{
    font-weight: bold;
    color: black;
  
  }
  
  .amapmaker{
    background-color:  #F2F2F2;
    padding: 5%;
    border-radius:  10px 0 0 10px;
  
  }

  input{
    width: inherit;
  }
  
  .fa-search{
    background-color:  #0065FC;
    padding: 5%;
    border-radius:  10px;
  
  }

  .abuttonswipe{width: initial;

  }

  button{
    background-color: transparent;
    border: none;
  }

  .lifilter>a:hover{
    border: 2px solid #0065FC;
    color: #0065FC;
    transform: scale(1.1);
  }
  
  .iconfilter>li>a{
    justify-content: space-around;
    border: 2px solid lightgray;
    margin: 5px 10px 5px 0;
    border-radius: 25px;
    
  }
  
  .iconfilter>li>a>i{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border-radius: 50%;
    color: #0065FC ;
    margin: -2px;
  
  }
  
  li span{
    font-weight: bold;
    margin: 15px;
  
  }
  
    .info{
    flex-direction: row;
  
  }
  
  .info>i{
    display: flex;
    width: 22px;
    height: 22px;
    align-items: center;
    justify-content: center;
    border: 1px solid #DEEBFF;
    border-radius: 50%;
    color: #0065FC ;
    margin: 0 10px 0 0;
  
  }
  
  .info>p{
    margin-top: 0.5%;
  
  }
  
  /* .iconfilter>li:hover{
    border: 2px solid #0065FC;
    color: #0065FC;
  } */

  
/*
** pop / aside général css
*/

#lodging{
  flex-wrap: wrap;
  flex-direction: row;

}

aside{
  width: auto;
  background-color: #f2f2f2;
  justify-content: space-around;
  align-items: center;
  padding: 0 3% 3% 3%;
  margin: 0% 5% 0 5%;
  border-radius: 15px;
}

.popular{
  flex-wrap: nowrap;
  justify-content: space-between;
}

.boxpop{ 
  width: 100%;
  background-color: white;
  margin: 0.4vw;
  border-radius: 10px;
  border: 3px solid white;
}

.description{
  flex-direction: column;
  justify-content: space-around;
}

.descriptionpop{
  flex-direction: column;
  justify-content: space-around;
  max-width: 50%;

}

.about{
   margin: 0 3% 0 0;
}

.pdescrib{
  font-size: smaller;
  margin: 1em 0 0.5em 0;

}

.cadrepop{
  flex-basis: 80%;
  margin-right: -20%;

}

.imgpop{
  width: 65%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px;
} 

/**
** lodging main
**/

.main{
  background-color: #f2f2f2;
  margin: 2% 5% 0% 5%;
  justify-content: space-around;
}

.showmore {
  height: 0%;
  margin: 0 3%;
}

.boxlodging{
  width: 30%;
  flex-direction: row;
  background-color: white;
  margin: 0 0 3% 0;
  border-radius: 10px;
  border: 5px solid white;
  box-shadow: 1em 1em 2em #F2F2F2;

}

.cadrelodging>.description{
  margin: 0.5em 1em;
}

.boxlodging>.description>.stars{
  margin: 0.5em 0 0 0;
}



.imglodging{
  width: 100%;
  max-height: 15vw;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;

}

/**
** Activity generel css
**/


.containactivity{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  height: 32.5vw;
  }
  
  
  #activity{
    display: flex;
    flex-direction:column;
    margin: 0 4% ;
    padding: 0 0 5%;
  }
  
  .actimg6{
    height: 83%;
  }
  
  .boxactivity1, .boxactivity2, .boxactivity3, .boxactivity4{
    flex-basis: 23%;
  }
  
  .boxactivity2, .boxactivity4{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    height: 100%;
    
  }
  
  .frame1, .frame4{
    height: 100%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0em 1em 1em #f2f2f2;
    overflow: hidden;
  }
  .frame2 {
    height: 53%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0em 1em 1em #f2f2f2;
    overflow: hidden;
  }
  
  .frame3{
    height: 37%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0em 1em 1em #f2f2f2;
    overflow: hidden;
  }
  
  .frame2, .frame5{
    margin-bottom: 10%;
  }
  
  .frame5{
    width: 100%;
    height: 44%;
    margin: 0;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0em 1em 1em #f2f2f2;
    overflow: hidden;
  }
  
  .frame6{
    height: 47%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0em 1em 1em #f2f2f2;
    overflow: hidden;
  }
  

  figure{
    margin: 0;
    height: 90%;
  }


.actimg1, .actimg4 {
  width: 100%;
  height: 88%;
  object-fit: cover;
}



.actimg5{
  width: 100%;
  height: 81%;
  object-fit: cover;
}

.actimg2{
  height: 85%;
}

.actimg2, .actimg6{
  width: 100%;
  object-fit: cover;
}

.actimg3{
  width: 100%;
  height: 75%;
  object-fit: cover;
}

figcaption{
  background-color: white;
  font-weight: bold;
  font-size: 0.8em;
  margin: 5% 0 0 5%;
}



/*
** footer
*/

footer{
  flex-direction: column;
  background-color:  #F2F2F2;

}

.footdiv>a{
  margin: 0 0 0.5em 0;
}
