*{
  font-family: "Raleway", sans-serif;
  font-size: 1em;
}

a{
  text-decoration: none;
  color: black;
  font-family: ;
}

#activity{
  display: flex;
  flex-direction:column;
  margin: 0 4% ;

}

h2{
  flex-basis: 100%

}

.containactivity{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

}

/* .boxactivity1, .boxactivity2, .boxactivity3, .boxactivity4{
  flex-basis: 23%;
  height: 43vw;
} */
.boxactivity1, .boxactivity2, .boxactivity3, .boxactivity4{
  flex-basis: 23%;
  /* height: 40vw; */

}

.boxactivity2, .boxactivity4{
  height: 40vw;
  display:flex;
  flex-direction:column;
  align-content: space-between;

}

#activity a{
  border-radius: 10px;
}

.actimg1, .actimg4 {
  width: 100%;
  height: 88%;
  object-fit: cover;
}



.actimg5{
  width: 100%;
  height: 56%;
  object-fit: cover;
}

.actimg3{
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.actimg2, .actimg6{
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.actimg2{
  height: 81%;
}

.actimg6{
  height: 75%;
}

.frame0, .frame3{
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0em 1em 1em #f2f2f2;
  overflow: hidden;
  
}

.frame4{
  width: 100%;
  height: 49%;
  margin: 0;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0em 1em 1em #f2f2f2;
  overflow: hidden;
  
}




.frame5{
  height: 49%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0em 1em 1em #f2f2f2;
  overflow: hidden;
}

.frame1 {
  height: 64%; 
  border-radius: 10px;
  background-color: white;
  box-shadow: 0em 1em 1em #f2f2f2;
  overflow: hidden;
  
}

.frame2{
  height: 31%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0em 1em 1em #f2f2f2;
  overflow: hidden;
}

.frame1, .frame4{
  margin-bottom: 10%;
}

figure{
  margin: 0;
  height: 90%;
}

figcaption{
  background-color: white;
  font-weight: bold;
  font-size: 0.4em;
  margin: 4% 0 0 6%
}