/** --------------------------------------------------
** for mobile version --------------------------------
** ---------------------------------------------------
**/


@media screen and ( max-device-width: 767px ){

  
  /**
  **header mobile version
  **/
  
  header{
    margin: auto;
  }
  
  header>img{
    margin: 5% auto auto 5%;
  }
 
  .signup{
    order: 0;
    margin: 5% 4% 0 0;

  }
    
  nav{
    flex-basis: 100%;
  }
  
  nav>ul>li{
    flex-basis: 50%;
    justify-content: space-between;
    text-align: center;
    padding: 5vw 0 3vw 0 ;
    border-bottom: 3px solid #F2F2F2;
    margin-right: 0;
  }
  
  .linav:hover{
    border-bottom: 3px solid #0065FC;
  
  }
  
  /**
  ** research mobile version
  **/

  form{
    width: 100%;
  }
  
  input{
    padding: 2vw;
    width: 100%;
  
  }

  .searchbar{
    width: 100%;
    border: 2px solid #f2f2f2;
    border-radius: 12px;
  }

.swipe{
  background-color:  #0065FC;
  border-radius:  10px;
  padding: 5%;
}


.pswipe{
    display: none;
}
  
  
.info{
    justify-content: space-around;
  
}
  
  .info>i{
    padding: 0 3px 0 3px;
  
  }
  
  .info>p{
    margin-top: 1%;
  
  }
  


  /*
  ** lodging - pop / aside
  */
 
  .h2pop{
    display: flex;
    justify-content: space-between;
  }
  
  /**
  ** lodging mobile version
  **/
  
   #lodging{
    /* flex-wrap: wrap; */
    flex-direction: column-reverse;
  }
  
  .main{
    margin: 0;
    padding: 0 5%;
    background-color: white;
  }
  

  .boxlodging{
    width: 100%;
    padding: 1%;
  }

  .cadrelodging>.description{
    margin: 1% 2%;
  }

  
  .cadrelodging{
    max-height: 120%;
    width: inherit;
  }
  
  .imglodging{
    max-height: 30vw;
    
  }
  
  
  /**
  ** aside popular mobile version
  **/
   
  #lodging{
    max-width: 150vw;
    background-color: #F2F2F2;
  }
  
  
  aside{
    flex-wrap: wrap;
  }
  
  .popular{
    flex-direction: column;
  }

  aside{
    padding: initial;
  }
  
  .boxpop{
    width: inherit;
    margin: 0 0 5% 0;
    height: 36vw;
  }

.about{
   margin: 0 3vw 0 0;
}

.cadrepop{
  width: 45%;
  flex-basis: unset;
  margin-right: 5%;
}
  
.imgpop{
  width: 100%;
} 
  
  /**
  ** activity mobile version
  **/
  
.containactivity{
  flex-direction: column;
  height: 100%;
}
    
#activity{
  margin: 0 4%;
}


.boxactivity1, .boxactivity2, .boxactivity3, .boxactivity4{
  margin: 0 0 4% 0;
}

.frame1, .frame2, .frame3, .frame4, .frame5, .frame6{
  height: 50vw;
}

.frame2, .frame5{
  margin: 0 0 5% 0;
}


.actimg2, .actimg3, .actimg5, .actimg6{
  height: 81%;
}

.actimg1, .actimg4 {
  height: 73%;
}

figcaption{
    font-size: 1em;
}

/**
  ** Footer mobile version
  **/

footer{
    padding: 5% 0 20% 5%;
  
  }
  

  .footdiv{
    flex-direction: column;

  }
  

  }