/**
** tablet version css
**/

@media screen and (min-device-width: 768px ) and (max-device-width: 1023px){


/*
** header tablet versiob
**
*/

nav>ul>li{
  margin-right: 2vw;
}

li>a:hover{
  border-top: 2px solid #0065FC;
  padding: 2vw 0 0 0;

}

/**
** Research tablet css
**/

.searchbar{
  width: 40vw;
  max-width: unset;
  border: 2px solid #f2f2f2;
  border-radius: 12px;
}

.swipe{
  background-color:  #0065FC;
  border-radius:  10px;
  padding: 5%;
}

.pswipe{
  display: none;
}


  
/*
** lodging - pop / aside tablet version
*/


#lodging{
  flex-direction: column-reverse;

}

aside{
  flex-wrap: wrap;
  margin: 0% 3% 0 3%;
}

.boxpop{
  height: 15vw;
  margin: 0.4vw;
  border: 5px solid white;
  flex-basis: 30%;
}


.pdescrib{
  margin: 0.5em 0;
}

.cadrepop{
  margin: 0% -15% 0% 0%;
}


/**
** lodging main tablet version
**/

.main{
  background-color: #f2f2f2;
  margin: 2% 3% 0% 3%;
  justify-content: space-around;
  padding: 0 3%;
  border-radius: 15px;
}

/**
** Activity tablet version
**/

.containactivity{
  height: 40vw;
}

.activity1, .activity2{
  width: 23%;
  height: 50vw;
}

.imgactivity1{
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;

}

.imgactivity2{
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;

}

.activity2{
  flex-direction: column;
  justify-content: space-between;
}

#activity{
  padding: 0 0 5%;
}

.boxactivity{
  background-color: white;
  border-radius: 10px;
  box-shadow: 1em 4em 4em #F2F2F2;

}

.cadreactivity{
  height: 90%;
}



figcaption{
  font-size: 0.7em;
}

/*
** footer
*/

footer{
  padding: auto;
  flex-direction: row;
  justify-content: space-around;
}

.footdiv{
  flex-direction: column;
  height: 200px;
}



} 




