/**
** tablet
**/

@media screen and (min-device-width: 768px ) and (max-device-width: 1023px){

  header, #research, #activity{
    margin: 0 3% 0 3%;
    height: 100%;
  }
  
  /*
**
** header
**
*/


header{
  margin-top: 2%;
  display: flex;

}
header>img{
  margin: auto auto auto 0;

}

.signup{
  order: 1;
  align-self: center;

}

nav>ul{
  display: flex;
  flex-direction: row;
  
}

nav>ul>li{
  margin-right: 2vw;
}



li>a:hover{
  color: #0065FC;

}

.searchbar{
  width: 40vw;
  max-width: unset;
  border: 2px solid #f2f2f2;
  border-radius: 12px;
}

.searchbar>input{
  border: none;
  text-align: center;
}

::placeholder{
  font-weight: bold;
  color: black;

}

.fa-map-marker-alt{
  background-color:  #F2F2F2;
  padding: 5%;
  border-radius:  10px 0 0 10px;

}

.swipe{
  background-color:  #0065FC;
  border-radius:  10px;
  padding: 5%;
}
.fa-search{
  background-color:  #0065FC;

}
.pswipe{
  display: none;
}

.iconfilter>li{
  justify-content: space-around;
  border: 2px solid lightgray;
  margin: 5px 10px 5px 0;
  border-radius: 25px;
  
}

.iconfilter>li>i{
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DEEBFF;
  border-radius: 50%;
  color: #0065FC ;
  margin: -2px;

}

li>span{
  font-weight: bold;
  margin: 15px;

}

  .info{
  flex-direction: row;

}

.info>i{
  display: flex;
  width: 22px;
  height: 22px;
  align-items: center;
  justify-content: center;
  border: 1px solid #DEEBFF;
  border-radius: 50%;
  color: #0065FC ;
  margin: 0 10px 0 0;

}

.info>p{
  margin-top: 0.5%;

}

.iconfilter>li:hover{
  border: 2px solid #0065FC;
  color: #0065FC;
}

  
/*
** lodging - pop - aside
*/
#lodging{
  flex-wrap: wrap;
  flex-direction: column-reverse;
  

}

aside{
  flex-wrap: wrap;
  background-color: #f2f2f2;
  width: auto;
  justify-content: space-around;
  align-items: center;
  margin: 0% 3% 0 3%;
}

.popular{
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* modifier */
.boxpop{
  width: 100%;
  margin: 0.4vw;
  background-color: white;
  border-radius: 10px;
  border: 5px solid white;
}

.description{
  flex-direction: column;
  justify-content: space-around;
}

.about{
   margin: 0 3% 0 0;
}

.pdescrib{
  margin: 0.5em 0;
}

.cadrepop{
  flex-basis: 80%;
  margin: 0% -15% 0% 0%;
}

.imgpop{
  width: 65%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px;
  margin-right: -150px;
} 

/**
** lodging main
**/

.main{
  background-color: #f2f2f2;
  margin: 2% 3% 0% 3%;
  justify-content: space-around;
  padding: 3%;
  border-radius: 15px;
}

.basis100{
  flex-basis: 100%;
}


/* modifier */
.boxlodging{
  width: 30%;
  height: fit-content;
  flex-direction: row;
  background-color: white;
  margin: 0 0 3% 0;
  border-radius: 10px;
  border: 5px solid white;
  box-shadow: 1em 1em 2em #F2F2F2;
}


.cadrelodging>.description{
  margin: 0.5em 1em;
}

.boxlodging>.description>.stars{
  margin: 0.5em 0 0 0;
}


.imglodging{
  width: 100%;
  max-height: 15vw;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;

}


.containactivity{
  justify-content: space-between;
  height: 40vw;
}

.activity1, .activity2{
  width: 23%;
  height: 50vw;
}

.imgactivity1{
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;

}

.imgactivity2{
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;

}

.activity2{
  flex-direction: column;
  justify-content: space-between;
}

#activity{
  padding: 0 0 5% 0;
}

.boxactivity{
  background-color: white;
  border-radius: 10px;
  box-shadow: 1em 4em 4em #F2F2F2;

}

.cadreactivity{
  height: 90%;
}



figcaption{
  font-size: 0.7em;
}

/*
** footer
*/

footer{
  height: 600px!important;
  padding: auto;
  flex-direction: row;
  justify-content: space-around;
  background-color:  #F2F2F2;

}

.footdiv{
  flex-direction: column;
  height: 200px;
}



} 




