*{
  font-family: "Raleway", sans-serif;
  font-size: 1em;
}


h2{
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  flex-basis: 100%;

}

.containactivity{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  height: 32.5vw;
  }
  
  a{
    text-decoration: none;
    color: black;
  }
  
  #activity{
    display: flex;
    flex-direction:column;
    margin: 0 4% ;
  
  }
  
  .actimg6{
    height: 75%;
  }
  
  .actimg6{
    height: 74%;
  }
  
  .actimg6{
    height: 75%;
  }
  
  .boxactivity1, .boxactivity2, .boxactivity3, .boxactivity4{
    flex-basis: 23%;
  }
  
  .boxactivity2, .boxactivity4{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    height: 100%;
    
  }
  
  .frame0, .frame3{
    height: 100%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0em 1em 1em #f2f2f2;
    overflow: hidden;
  }
  .frame1 {
    height: 53%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0em 1em 1em #f2f2f2;
    overflow: hidden;
  }
  
  .frame2{
    height: 37%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0em 1em 1em #f2f2f2;
    overflow: hidden;
  }
  
  .frame1, .frame4{
    margin-bottom: 10%;
  }
  
  .frame4{
    width: 100%;
    height: 44%;
    margin: 0;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0em 1em 1em #f2f2f2;
    overflow: hidden;
  }
  
  .frame5{
    height: 47%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0em 1em 1em #f2f2f2;
    overflow: hidden;
  }
  
  
  
  
  
  figure{
    margin: 0;
    height: 90%;
  }


.actimg1, .actimg4 {
  width: 100%;
  height: 88%;
  object-fit: cover;
}



.actimg5{
  width: 100%;
  height: 81%;
  object-fit: cover;
}

.actimg2{
  height: 85%;
}

.actimg2, .actimg6{
  width: 100%;
  object-fit: cover;
}

.actimg3{
  width: 100%;
  height: 74%;
  object-fit: cover;
}


.actimg6{
  height: 74%;
}


figcaption{
  background-color: white;
  font-weight: bold;
  font-size: 1em;
  margin: 5% 0 0 6%;
}